.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background: url("https://static.vecteezy.com/system/resources/previews/002/386/432/original/world-map-green-isolated-on-white-background-free-vector.jpg") center /cover;
}