{{> welcome-menu}}

<section>
    <div class="container">
      <div class="notification is-light">
        <p class="title">
          Please Login or Sign Up to Placemark
        </p>
        <p class="subtitle">
          Placemark welcomes you to input your favourite places you love around the world and pin them on our world map!
        </p>
      </div>
    </div>
</section>