<form class="box" action="/placemark/{{placemark._id}}/addmarker" method="POST">
  <label>Enter Marker Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="location">
      </div>
      <div class="field">
        <input class="button" type="Date" placeholder="Enter Date" name="date">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Marker</button>
</form>